@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    /* Colors */

    /* Primary */
    --clr-primary-orange: hsl(25, 97%, 53%);

    /* Neutral */
    --clr-neutral-white: hsl(0, 0%, 100%);
    --clr-neutral-light-grey: hsl(217, 12%, 63%);
    --clr-neutral-light-grey-opacity: hsla(217, 12%, 63%, .1);
    --clr-neutral-dark-blue: hsl(213, 19%, 18%);
    --clr-neutral-very-dark-blue: hsl(216, 12%, 8%);

    /* Typography */
    
    /* Body Copy */
    --fs-paragraph: 15px;

    /* Font */
    --ff-Overpass: 'Overpass';
    --fw-400: 400;
    --fw-700: 700;

    --br: 18px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--clr-neutral-very-dark-blue);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
}
.hideForm{
    display: none;
}
.container, .modal{ 
    font-family: var(--ff-Overpass);
    background: var(--clr-neutral-dark-blue);
    background: linear-gradient(hsl(213, 20%, 18%),
    var(--clr-neutral-dark-blue));
    height: 400px;
    min-width: 350px;  
    max-width: 400px;
    border-radius: var(--br);
    margin: 0 1em 0 1em;
}
.star-container{
    display: flex;
    text-align: center;
    width: 45px;
    height: 45px;
    background-color: var(--clr-neutral-light-grey-opacity);
    margin: 2.5em .5em 2em 0;
    border-radius: 500px;
    justify-content: center;
    align-items: center;
}
.content{
    padding: 0 1em 0 1.5em
}
h1{
    color: var(--clr-neutral-white);
    font-weight: var(--fw-400);
    font-size: 26px;
    padding-bottom: .5em;
}
#main-text{
    color: var(--clr-neutral-light-grey);
    font-size: var(--fs-paragraph);
    line-height: 1.5em;
}
.rating-container{    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin-bottom: .5em;
    user-select: none;
    margin: 1.5em 0 1.5em 0;
}
.rating-container input[type="radio"]{
    display: none;    
}
.rating-container label{
    background-color: var(--clr-neutral-light-grey-opacity);
    color: var(--clr-neutral-light-grey);
    width: 45px;
    height: 45px;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.rating-container input[type='radio']:checked + label{
    background-color: var(--clr-neutral-white);
}
.rating-container input[type='radio']:hover + label{
    background-color: var(--clr-primary-orange);
}
.submit-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#submit-button{
    background-color: var(--clr-primary-orange);
    height: 3em;
    width: 100%;
    border-radius: 500px;
    border: 1px solid transparent;
    font-size: var(--fs-paragraph);
    color: var(--clr-neutral-dark-blue);
    font-weight: var(--fw-700);
}
#submit-button:hover{
    background-color: var(--clr-neutral-white);
    cursor: pointer;
}
.modal{
    text-align: center;
    border: transparent;
    position: static;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.modal-content{
    margin-top: 3em;
    display: flex;
    flex-direction: column;    
    align-items: center;
    width: 100%;
    height: 100%;
}
.modal-image-container{
    margin-bottom: 1em;
}
.amount-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 2em;
    border: 1px solid var(--clr-neutral-light-grey-opacity);
    border-radius: 500px;
    background-color: var(--clr-neutral-light-grey-opacity);
    margin-bottom: 2em;
}
.amount-selected-text{
    color: var(--clr-primary-orange);
    font-size: 14px;
    font-weight: 200;
}
h2{
    color: var(--clr-neutral-white);
    font-weight: var(--fw-400);
    margin-bottom: 1em;
}
.modal-text-content{
    color: var(--clr-neutral-light-grey);
    font-weight: var(--fw-400);
    padding: 0 1.2em 0 1.2em;
}
.attribution { 
    color: var(--clr-primary-orange);
    font-size: var(--fs-paragraph); 
    text-align: center; 
    writing-mode: vertical-rl;
    margin: 0 -1em 0 1em;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}